[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_bin_path }} \
{% for arg in node_exporter_args %}
  {{ arg }} \
{% endfor %}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
